* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #161616;
}

.pantalla-inicial {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.logo-inicial img {
  width: 320px;
  max-width: 100%;
  margin-bottom: 40px;
}

.botones-inicio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-inicio {
  text-decoration: none;
  background: transparent;
  border: 2px solid #76998f;
  color: #76998f;
  font-weight: 600;
  padding: 18px 40px;
  border-radius: 10px;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.btn-inicio:hover {
  background: #76998f;
  color: white;
}

.cartel-reserva {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #7dafa6;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 9999;
}


/* Vista móvil */
@media (max-width: 768px) {
  .btn-inicio {
    font-size: 1.2rem;
    padding: 14px 30px;
  }

  .botones-inicio {
    gap: 20px;
  }

  .logo-inicial img {
    width: 180px;
  }
}

